*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color-nav{
   background-color: #AFD3E2;
}
.nav-title{
  font-family: 'Anton', sans-serif !important;
  color: #F6F1F1;

}

.nav-components{
  color: white;
  font-family: 'Anton', sans-serif;
}


.vh-50 {
  height: 50vh;
}
.vh-25 {
  height: 25vh;
}
.vh-75 {
  height: 75vh;
}
.cardHighlight {
  min-height: 100%;
  font-family: 'Anton', sans-serif ;

}

/* LOGIN */
.colr-bg{
  background-color: #146C94;
}
.display-1{
  font-family:  'Lilita One', cursive;

}


/*Home Carousel*/
.carousel-height{
  max-height: 50vh;
}
.carousel-caption-bg {
  
  opacity: 0.8;
}
.carousel-text{
  text-shadow: 1px 1px 2px #000000;
  width: 70%;
  padding:3%;
  position: absolute;
  font-weight: ;
  color: #F6F1F1;
  background-color: #AFD3E2;
  font-family: 'Anton', sans-serif;
}

.img-fit{
  object-fit: cover;
  min-height: 720px;
  width: 100%;
  
}

.product-img-fit {
  object-fit: cover;
  object-position: 100% 10%;
  max-height: 220px;
  width: 100%;

}

/* Navbar */
.border-bot{
  border-bottom: 2px solid rgb(0, 0, 184);
}

/* table header */
.th-bg{
  background-color: rgb(0, 0, 184);
}

/* Home Banner */

.banner-bg{
  background-color:#19A7CE ;
}

/* featured products */
.card-height{
  min-height: 80% !important;
}

.card-border{
  border-color: rgb(218,
    218,
    218) !important;
}

.card-bg {
  background-color: #AFD3E2 !important;
}


/* edit modal */
.editModal-img-fit {
  object-fit: cover;
  object-position: 100% 10%;
  max-height: 180px;
  width: 100%;

}

.product-1{
  font-family:'Anton', sans-serif;

}
Footer{
  background-color: #146C94;
  /*padding: 3%;*/
   padding: 20px;
  color: white;
}

.about-us {
  background-color: #AFD3E2;
  padding: 80px;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: #AFD3E2;
}

.about-us h2 {
  color: #146C94;
  font-family:  'Lilita One', cursive;
  text-align: center;
  font-size: 50px;
  margin-top: 0px;
}
h4 {
  font-family:  'Lilita One', cursive;
  color: #19A7CE;
  font-size: 50px;
}
.about-us p {
  margin-bottom: 10px;
  color: #146C94;
  font-size: 20px;
  font-family:  'Lilita One', cursive;

}

.custom-button {
  background-color: black;
  
  
}