*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.color-nav{
   background-color: #AFD3E2;
}
.nav-title{
  font-family: 'Anton', sans-serif !important;
  color: #F6F1F1;

}

.nav-components{
  color: white;
  font-family: 'Anton', sans-serif;
}


.vh-50 {
  height: 50vh;
}
.vh-25 {
  height: 25vh;
}
.vh-75 {
  height: 75vh;
}
.cardHighlight {
  min-height: 100%;
}

/* LOGIN */
.colr-bg{
  background-color: #F6F1F1;
}
.display-1{
  font-family:  'Lilita One', cursive;

}


/*Home Carousel*/
.carousel-height{
  max-height: 50vh;
}
.carousel-caption-bg {
  
  opacity: 0.8;
}
.carousel-text{
  text-shadow: 1px 1px 2px #000000;
  width: 80%;
  padding:3%;
  position: absolute;
  font-weight: bold;
  color: black;
  
  font-family: 'Anton', sans-serif;
}

.img-fit{
  object-fit: cover;
  min-height: 820px;
  width: 100%;
  
}

.product-img-fit {
  object-fit: cover;
  object-position: 100% 10%;
  max-height: 220px;
  width: 100%;

}

/* Navbar */
.border-bot{
  border-bottom: 2px solid rgb(0, 0, 184);
}

/* table header */
.th-bg{
  background-color: rgb(0, 0, 184);;
}

/* Home Banner */

.banner-bg{
  background-color:#19A7CE ;
}

/* featured products */
.card-height{
  min-height: 90% !important;
}

.card-border{
  border-color: rgb(218,
    218,
    218) !important;
}

.card-bg {
  background-color: rgb(218, 218, 218) !important;
}


/* edit modal */
.editModal-img-fit {
  object-fit: cover;
  object-position: 100% 10%;
  max-height: 180px;
  width: 100%;

}
